</div>
<footer>
<div>
	<div class="bg-yellow foot"><h5> Made by Fire Flower Concepts</h5></div>
</div>
</footer>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="/javascript/myScript.js"></script>
	<script src="/javascript/plugin.js"></script>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '377938202593271',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>




</body>
</html>