</div>

<div class="bg-yellow text-center"> Made by Ivy<br><br><br></div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript" scr="/js/script.css"></script>

</body>
</html>