</div>

<div> Made by Ivy </div>
<!-- <script src='/node_modules/jquery/dist/jquery.min.js'></script> -->
<!-- <script src='/node_modules/moment/src/lib/moment/moment.js'></script> -->
<!-- <script src='fullcalendar/fullcalendar.js'></script> -->


<!--<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.0/fullcalendar.min.js"</script> -->

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<script type="text/javascript" scr="/js/script.css"></script>

</body>
</html>