</div>
<footer>
	<div class="bg-yellow foot"> Made by Ivy<br><br><br></div>
</footer>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<script src="/javascript/myScript.js"></script>
	<script src="/javascript/plugin.js"></script>

</body>
</html>