</div>
<footer>
<div>
	<div class="bg-yellow foot"><h5> Made by Fire Flower Concepts</h5></div>
</div>
</footer>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="/javascript/myScript.js"></script>
	<script src="/javascript/plugin.js"></script>

</body>
</html>