<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sandhi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<nav class="navbar navbar bg-yellow" role="navigation">
    <div class="container-fluid">

        <div class="nav navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon"></span>
                Sandhi
            </a>
        </div>
<% if(user){ %>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/post">Blasts</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/profile">Hello <%= user.local.name %></a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
        </ul>
<% } else { %>
         <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/post">Blasts</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
         <ul class="nav navbar-nav navbar-right">
          <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
<% } %>

  </div>
</nav>
<body>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '377938202593271',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
