 <div class="container bg-event">
        <div class="row">
        <section id="gApi-results"> 
            <% for(var i=0; i < results.length; i++) {%> 
            <h2></h2> <!-- this <h2>has to stay to keep the plugin set up correctly -->
            <hr>
          <article class="white-panel">
            <h4><%= results[i].name %></h4>
            <h4><%= results[i].address %></h4>
            <h5><span><%= results[i].rating %></span></h5>
            <p><%= results[i].about %></p>
            
          </article>
      <% } %>
        </section>
      </div>
    <hr>
    </div>