<% include includes/header %>
<body>
<div>



    <div class="jumbotron test text-center bg-green">
        <h1><span></span>Sandhi</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
       


</body>
</html>
