
<% include includes/header %>
<body>
<div>



    <div class="jumbotron test text-center bg-yellow">
        <h1><span></span>Sandhi</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
       
       </div>
       <div class="rainbow greedy bg-yellow"></div>
     <div class="container-fluid">
        <div class="row white greedy">
            <div class="col-sm-5 col-md-offset-1">
             	<h1> Sandhi means connection in Sanskrit.</h1> 
                <div class="textFont greedyWide">
                    <p>We all love our tribe and want to keep connected to them. Here at Sandhi we pride ourselves in giving you many ways to connect to your fellow Yogis.</p>
                    <p>Keeping the energy flowing even when you are not in class.</p>
                </div>
            </div>
            <div class='col-sm-6 swirls1 bg'></div>

        </div>
        <div class="row">
            <div class="rainbow"></div>
        </div>
        <div class="row white greedy">
        <div class='col-sm-5 swirls'></div>
            <div class="col-sm-5 col-md-offset-1">
                <h1>The Many ways to Connect</h1>
                <div class="textFont greedyWide">
                    <p>Promote yourself as an instructor</p>
                 	<p>Post your scheduled classes and retreats.</p>
                 	<p>Follow your favorite teachers no matter which studio they are holding class</p>
                    <p>Send Messages to your whole tribe at once and wait for their response</p>
                </div>
            </div>
        </div>
        </div>
        <div class="rainbow"></div>
     </div>


<% include includes/footer %>
