
<% include includes/header %>
<body>
<div>



    <div class="jumbotron test text-center bg-yellow">
        <h1><span></span>Sandhi</h1>

        <p>Login or Register with:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
        <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
       
       </div>
     <div class="container">
     	<h1> Sandhi means connection in Sanskrit</h1> 
        <div class="textFont">
        <p> Connect with your tribe is all the different ways</p>
        <p>Promote yourself as an instructor</p>
     	<p>Post your scheduled classes and retreats and send messages out to your friends.</p>
     	<p>The ability to keep track of all things yoga with others that are all about yoga is what makes us special.</p>
        </div>


     </div>


<% include includes/footer %>
