<% include includes/header %>


 <form class="post " action="/post" method="POST">
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="form-group">
            <label>Subject</label>
            <input type="test" class="form-control" name="subject">
        </div>
        <div class="form-group">
            <label>Date</label>
            <input type="test" class="form-control" name="date">
        </div>
     
        <button type="submit" class="btn btn-warning btn-lg">Posts</button>
    </form>

</html>

  