body {
  background-image: url(../images/grey-linen-texture.jpg);
  font-family: 'Bad Script', cursive;
}
.textFont {
  font-family: 'Raleway', sans-serif;
}
.test { 
 	margin-top: 50px;
 	background: url(../images/yogaBG.png)no-repeat;
 	background-size: cover; 
 	height: 500px;
 	margin-bottom: 50px;
 	border-radius: 15px;
 }
 .test2 { 
  margin-top: 50px;
  background: url(../images/yogaBG2.jpg)no-repeat;
  opacity: .75;
  background-size: cover; 
  height: 500px;
  margin-bottom: 50px;
  border-radius: 15px;
 }
 .cushion {
  padding: 10px;
 }
 .delete {
  width: 15%;
  padding: 5px;
  display: inline;

 }
 .oneLine {
  width: 100%;
 }

 .bg-yellow {
 	background-color: rgba(232, 180, 102, .75);
 }
 .ham {
 	background-color: black;
 	height: 3px;
 }
 .navbar-brand,
 .nav a {
 	color: rgb(102, 51, 0);
 }

 .post {
 	margin: 25px auto;
  width: 100%;
 }
 .blasts {
 	border: 1px solid black;
 	border-radius: 5px;
 	color: rgb(102, 51, 0);
  box-shadow: 10px 10px 5px #888888;
 	padding:10px;
 	margin: 25px 15px;
 	background-image: url(../images/grey-linen-texture.jpg);
 	/*background-color: rgba(232, 180, 102, .75);*/

 }
 .post button {
  margin-top: 1em;
 }
 .comment {
 	margin-left: 10px;
 	border: 2px solid rgb(232, 180, 102);
 	border-radius: 5px;
 	padding:10px;
 	margin: 10px auto;
 	background-color: white;
 }
 .comment a {
  float: right;
 }
 .date {
 	margin-left: 20px;
 }
 #input {
 	width: 100%;
 }
 #subject {
 	height: 150px;
 	word-wrap: break-word;
 	white-space: pre-wrap;
  resize: none;
 }
/*
Style for profile page*/
.well {
	margin: auto 100px;
}

.bg-event {
	/*background-color: rgba(232, 180, 102, .75);*/
	background-image: url(../images/grey-linen-texture.jpg);
 	border-radius: 15px;
}
.greedy {
  margin: 25px auto;
}
.event {
	border: 1px solid black;
 	border-radius: 5px;
 	color: rgb(102, 51, 0);
 	margin: 5px 4px;
 	background-color: white;
}
.createEvent {
	margin-left: 50px;
	font-size: 35px;
	border: 1px solid rbg(102, 51, 0);
}
.sign {
  background-color: rgba(232, 180, 102, .75);
  padding: 15px;
}
.bg-posts {
  background-color: rgba(232, 180, 102, .75);
  border: 2px solid rgb(102, 51, 0);
  height: 100%;
  box-shadow: 10px 10px 5px #888888;
 }

#event {
	margin-left: 50px;
}
.foot {
	/*background-image: url(../images/paisley2.png);*/
	background-color: rgba(232, 180, 102, .75);
  padding: 15px;
}

/*Style for Pinboard*/
/*
Ref:
Thanks to:
http://www.jqueryscript.net/layout/Simple-jQuery-Plugin-To-Create-Pinterest-Style-Grid-Layout-Pinterest-Grid.html
*/

body {
 background-color:#eee;   
}    

#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

footer {
  margin-top: 25px;
  text-align: center;

}
